apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app-deployment
  labels:
    app: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app-container
        image: europe-central2-docker.pkg.dev/project-e2a4c0c6-d515-440a-abd/kontenery/devops-app
        ports:
        - containerPort: 5000
